@model IEnumerable<ConcesionarioMVC.Models.Vehiculos>

@{
    ViewBag.Title = "Index";
}

<div>
    <input type="text" id="txtBus" placeholder="Texto a buscar..."/>
    <select id="ddlTipoBusqueda">
        <option value="1">Matricula</option>
        <option value="2">Marca</option>
    </select>
    
    <button type="button" id="btnBus" class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i> Buscar    
    </button>
</div>

<div id="contenido">
    @Html.Partial("_listadoVehiculos", Model)
</div>


<button type="button" id="btnAdd"  class="btn btn-default">
    <i class="glyphicon glyphicon-plus-sign"></i> Nuevo
</button>


<div class="modal fade" id="dlgAlta">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo Vehiculo</h4>
            </div>
            <div class="modal-body">
                @*Pegar formulario*@
                <input type="text" id="txtIdTipo" placeholder="Id Tipo" />
                <input type="text" id="txtMarca" placeholder="Marca"/>
                <input type="text" id="txtMatricula" placeholder="Matricula"/>
                <input type="text" id="txtModelo" placeholder="Modelo"/>
                <input type="text" id="txtCoste" placeholder="Coste" />
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*Otra opcion*@
@*<input type="hidden" value="@@ViewBag.idTipo" id="idTipo"/>*@
@section MiJavaScript
{
    <script>

        var tipo = @ViewBag.idTipo;

        function buscar() {

            var txt = $("#txtBus").val();
            var buscando = $("#ddlTipoBusqueda").val();
            var url = "@Url.Action("Buscar")" + "?idTipo=" + tipo +
                "&campo=" + buscando + "&contenido=" + txt;
            $("#contenido").load(encodeURI(url)); // por defecto realiza la carga sobre el listado
            // encodeURI: en caso de usar busqueda con espacio en blanco

        }

        function alta() {
            var obj = {
                idTipo: tipo, // este valor lo recibo con ViewBag
                matricula: $("#txtMatricula").val(),
                marca: $("#txtMarca").val(),
                modelo: $("#txtModelo").val(),
                coste: $("#txtCoste").val()
            };


            var objTxt = JSON.stringify(obj); // se convierte a texto
            var url = "@Url.Action("Alta")";

            $.ajax({
                url: url,
                data: objTxt,
                dataType: "json",
                headers: { "Content-Type": "application/json" },
                type: "POST", // puede ser GET
                success: function(res) {
                    
                    $("#dlgAlta").modal('hide'); // para ocultar el dialogo Modal

                    if (res.idVehiculo != 0) {
                        $("#txtBus").val("");
                        buscar();
                    } else {
                        alert("Error");
                    }
                }
            });
            
        }

        function limpiarFormulario() {
            $("#txtIdTipo").val("");
            $("#txtMatricula").val("");
            $("#txtMarca").val("");
            $("#txtModelo").val("");
            $("#txtCoste").val("");
        }


        $("#btnBus").click(buscar);

        $("#btnGuardar").click(alta);
        
        $("#btnAdd").click(function() {
            $("#dlgAlta").modal("toggle");
            limpiarFormulario();
        });

    </script>

}



